body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /*.blog. {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  */
  
  main {
    padding: 20px;
  }

  main h1{
    text-align: center;
    color: #fff;
  }
  
  article {
    background-color: rgb(210, 219, 186);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  span{
    font-weight: bold;
  }

  article p{
    text-align: justify;
    color: #000;
  }
  
  h2 {
    color: #333;
  }
  
  .post-meta {
    color: #777;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }